@media only screen and (max-width: 700px){
    .modal-content {
        width: device-width;
    }
}
    @media all and (orientation: landscape) and (max-width: 750px) {
        #psa {
            width:device-width;
            height: auto;
        }
    }
